<ion-view view-title="文章详情">
    <!--     <ion-nav-buttons side="left">
      <span class="iconfont icon-back fontSize backBtn" onclick="javascript:history.go(-1)"></span>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="right">
        <span class="iconfont icon-share fontSize" ng-click="share()"></span>
        <span class="iconfont icon-comment fontSize" ng-click="pubComment()"></span>
        <span ng-class="{true:'icon-shoucanghou comment-red', false:'icon-shoucang'}[flag.isAdd]" class="iconfont fontSize" ng-model="flag.isAdd" ng-click="add()"></span>
    </ion-nav-buttons>
    <ion-content>
        <div class="articleWrap">
            <div class="articlePic">
                <!-- ng-bind-html="html | to_trusted" -->
                <!-- <div class="articlePic" on-render-finish>-->
                <div ng-if="hasMedia">
                    <div id="art_media"></div>
                </div>
                <img ng-if="!hasMedia" alt="" ng-src="{{imgUrl+item.art_thumb}}">
            </div>
            <div class="contentArticle">
                <h1>{{item.art_title}}</h1>
                <div class="author">{{item.art_editor}}
                    <time>{{item.art_time}}</time>
                </div>
                <!-- {{item.art_time | toDate}} -->
                <div class="articleCon" ng-bind-html="item.art_content"></div>
            </div>
        </div>
        <div class="comments">
            <h3>- 评论 ({{currentArticleComTotal}}) -  </h3>
            <div class="noComments">
                <span ng-if="!hasComment" ng-bind="noComment"></span>
            </div>
            <ul ng-if="hasComment">
            <li ng-repeat="comment in comments" ng-click="replyCom()">
                    <div class="avatar"><img src="img/mike.png" ng-src="{{comment.avatar}}" alt=""></div>
                    <div class="detail">
                        <div class="title">
                            <time>{{comment.publishTime*1000 | date:"yyyy-MM-dd HH:mm"}}</time>{{comment.nickname}}</div>
                        <p>{{comment.content}}</p>
                        <div class="like"><i class="iconfont icon-like"></i>15</div>
                        <div class="commentsBox" ng-hide="{{comment.comments.length==0}}"> 
                            <div class="singleCom" ng-repeat="reply in comment.comments">
                                <div class="title">{{reply.nickname}}<span> -- {{reply.publishTime*1000 | date:"yyyy-MM-dd HH:mm"}}</span></div>
                                    <p>{{reply.content}}</p>
                                </div>
                        </div> 
                    </div>
                </li>
               <!--  <li ng-repeat="comment in currentArticleComList" ng-click="replyCom()">
                    <div class="avatar"><img src="img/mike.png" ng-src="{{comment.author.avatar}}" alt=""></div>
                    <div class="detail">
                        <div class="title">
                            <time>{{comment.publishTime*1000 | date:"yyyy-MM-dd HH:mm"}}</time>{{comment.author.nickname}}</div>
                        <p>{{comment.content}}</p>
                        <div class="like"><i class="iconfont icon-like"></i>15</div>
                        <div class="commentsBox" ng-if="replyCommentList"> 
                            <div class="singleCom" ng-repeat="reply in replyCommentList">
                                <div ng-if="reply.pid == comment.id">
                                <div class="title">{{reply.author.nickname}}<span> -- {{reply.publishTime*1000 | date:"yyyy-MM-dd HH:mm"}}</span></div>
                                    <p>{{reply.content}}</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </li> -->
                 </ul>
        </div>
                <!-- <li>
            <div class="avatar"><img src="img/mike.png" alt=""></div>
            <div class="detail">
                <div class="title"><time>5分钟前</time>马大帅</div>
                <p>久闻鲱鱼罐头名声，知道它气味不好闻，但肉质细嫩。据说在瑞典,每年八月的第三个周四,人们会专门为品尝鲱鱼举行派对。因为这是腌鲱鱼味道最好的时候。“在温暖而短暂的夏夜里,瑞典人在花园里摆好桌椅,然后把一道道鲱鱼端上桌,大饱口福,饮酒歌唱。</p>
                <div class="like"><i class="iconfont icon-like"></i>15</div>
            </div>
        </li>
        <li>
            <div class="avatar"><img src="img/mike.png" alt=""></div>
            <div class="detail">
                <div class="title"><time>5分钟前</time>马大帅</div>
                <p>久闻鲱鱼罐头名声，知道它气味不好闻，但肉质细嫩。据说在瑞典,每年八月的第三个周四,人们会专门为品尝鲱鱼举行派对。因为这是腌鲱鱼味道最好的时候。“在温暖而短暂的夏夜里,瑞典人在花园里摆好桌椅,然后把一道道鲱鱼端上桌,大饱口福,饮酒歌唱。</p>
                <div class="like"><i class="iconfont icon-like"></i>15</div>
                <div class="commentsBox"> 
                    <div class="singleCom">
                        <div class="title">马苏德<span>·1分钟前</span></div>
                        <p>人无癖不可与交，以其无深情也</p>
                    </div>
                    <div class="singleCom">
                        <div class="title">马苏德<span>·1分钟前</span></div>
                        <p>所谓“癖”，是更深于喜爱的执着，或是一种根深蒂固的信念。</p>
                    </div>
                </div>
            </div>
        </li>   -->
           
    </ion-content>
</ion-view>
