<ion-view view-title="发布评论">
    <!-- <ion-nav-buttons side="left">
        <ion-nav-button onclick="javascript:history.go(-1)"  class="defBtn">取消</ion-nav-button>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="right">
        <ion-nav-button  class="defBtn sendcolor" ng-click="art_public()">发布</ion-nav-button>
    </ion-nav-buttons>
    <ion-content>
        <div class="commentDetail">
            <div class="artquote_pub">
                <div class="artTitle"><p>{{item.art_editor}}</p>
                <h2>{{item.art_title}}</h2></div>
                <img ng-src="{{imgUrl+item.art_thumb}}" alt="">
            </div>
        </div>
        <div class="commentArea">
            <form action="">
                <textarea name="" id="" rows="10" placeholder="评论区" ng-model="pubCom.content"></textarea>
            </form>
        </div>
    </ion-content>

<!--     <ion-content>
    <div class="articleWrap">
          <div class="articlePic"><img src="img/adam.jpg" alt=""></div>
          <div class="contentArticle">
              <h1>火柴盒地球仪</h1>
              <div class="author">萧乾父<time> ·2016年6月6日</time></div>
              <div class="articleCon">
                  <h2>前言</h2>
                  <p>你即将来到这个世界。照某种密教的解释，你只是我的一个念头，无数念头中的一个，眼下正通往肉身的途中。作为父亲的我，必须向你解释你即将看到的一切。还原几乎是不可能的，那是一门精湛的技艺，它处于物质和精神的混沌区域。</p>
                  <h2>1. 火柴盒地球仪</h2>
                  <p>地球是方的，远远的超出你的视野之外。但是有一天，有人会告诉你它不是方的，而是圆的，而我们――以及人类，在很长一段时间里都是这么认为的。在我n岁的时候，我也是这么认为的，因为你的曾祖父也坚持这么认为，至于你的祖父，他的思考中从来不兼济这些。他的思考兴致全部在看得见摸得着的事物上。而现在，在n+a的岁数，我必须向你解释你周遭的一切。我和你的叔叔王格拉，在遥远的，湛蓝的，拉萨天空下（的）二层藏式建筑（的）一间屋子里（的）一扇窗户前谈起那些已经作古的人类，而远在南方七月的你的母亲却在咒诅我们，但是孩子，请相信，地球是方的。如果需要给出证明，我也会那么去做。</p>
              </div>
          </div>
    </div>
<div class="comments">
    <h3>- Comment 评论 (3) -  </h3>
    <ul>
        <li>
            <div class="avatar"><img src="img/mike.png" alt=""></div>
            <div class="detail">
                <div class="title"><time>5分钟前</time>马大帅</div>
                <p>久闻鲱鱼罐头名声，知道它气味不好闻，但肉质细嫩。据说在瑞典,每年八月的第三个周四,人们会专门为品尝鲱鱼举行派对。因为这是腌鲱鱼味道最好的时候。“在温暖而短暂的夏夜里,瑞典人在花园里摆好桌椅,然后把一道道鲱鱼端上桌,大饱口福,饮酒歌唱。</p>
                <div class="like"><i class="iconfont icon-like"></i>15</div>
            </div>
        </li>
        <li>
            <div class="avatar"><img src="img/mike.png" alt=""></div>
            <div class="detail">
                <div class="title"><time>5分钟前</time>马大帅</div>
                <p>久闻鲱鱼罐头名声，知道它气味不好闻，但肉质细嫩。据说在瑞典,每年八月的第三个周四,人们会专门为品尝鲱鱼举行派对。因为这是腌鲱鱼味道最好的时候。“在温暖而短暂的夏夜里,瑞典人在花园里摆好桌椅,然后把一道道鲱鱼端上桌,大饱口福,饮酒歌唱。</p>
                <div class="like"><i class="iconfont icon-like"></i>15</div>
            </div>
        </li>
        <li>
            <div class="avatar"><img src="img/mike.png" alt=""></div>
            <div class="detail">
                <div class="title"><time>5分钟前</time>马大帅</div>
                <p>久闻鲱鱼罐头名声，知道它气味不好闻，但肉质细嫩。据说在瑞典,每年八月的第三个周四,人们会专门为品尝鲱鱼举行派对。因为这是腌鲱鱼味道最好的时候。“在温暖而短暂的夏夜里,瑞典人在花园里摆好桌椅,然后把一道道鲱鱼端上桌,大饱口福,饮酒歌唱。</p>
                <div class="like"><i class="iconfont icon-like"></i>15</div>
                <div class="commentsBox"> 
                    <div class="singleCom">
                        <div class="title">马苏德<span>·1分钟前</span></div>
                        <p>人无癖不可与交，以其无深情也</p>
                    </div>
                    <div class="singleCom">
                        <div class="title">马苏德<span>·1分钟前</span></div>
                        <p>所谓“癖”，是更深于喜爱的执着，或是一种根深蒂固的信念。</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
    </ion-content> -->
</ion-view>

