<!-- 我的评论 -->
<ion-view view-title="评论">
    <ion-content>
        <div ng-if="!hasCommentMsg" class="noComMsg">
            <span ng-bind="CommentMsg" ></span>
        </div>
        <div class="commentList" ng-if="hasCommentMsg">
            <ul>
                <li class="comItem"  ng-repeat="item in selfComList"  >
                    <div class="comContent">
                        <div class="user_name">
                             <time>{{item.publishTime*1000 | date:"yyyy年MM月dd日"}}</time>{{item.byUser.nickname}}
                        </div>
                        <div class="user_com">{{item.content}}</div>
                    </div>
                    <div class="comArticle" href="#/article/{{item.art_id}}">
                        <div class="art_author">{{item.sourceEditor}}</div>
                        <div class="art_title">{{item.sourceTitle}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
