<ion-view view-title="收藏">
    <!-- <ion-nav-buttons side="left">
        <span class="iconfont icon-back fontSize backBtn" onclick="javascript:history.go(-1)"></span>
    </ion-nav-buttons> -->
   <ion-content>
          <div class="favourite">
            <ul>
              <li>
                  <div class="chapterPic">
                    <img src="img/max.png" alt="">
                  </div>
                  <div class="chapterDetail">
                        <div class="author">
                            <span class="pubName">森子</span> 
                            <span class="pubDate">2016年5月29日</span>
                        </div>
                        <h2>塔与漩涡塔与漩涡塔与漩涡塔与漩涡塔与漩涡塔与漩涡塔与漩涡塔与漩涡塔与漩涡塔与漩涡</h2>
                        <div class="author">
                            <span class="add">
                            <i class="icon ion-ios-heart-outline"></i> 104 <i class="icon ion-ios-chatbubble-outline"></i> 24
                            </span> 
                            <span class="reads">1799阅读</span>
                        </div>
                  </div>
              </li>
              <li>
                  <div class="chapterPic">
                    <img src="img/adam.jpg" alt="">
                  </div>
                  <div class="chapterDetail">
                        <div class="author">
                            <span class="pubName">森子</span> 
                            <span class="pubDate">2016年5月29日</span>
                        </div>
                        <h2>塔与漩涡塔与漩</h2>
                        <div class="author">
                            <span class="add">
                            <i class="icon ion-ios-heart-outline"></i> 104 <i class="icon ion-ios-chatbubble-outline"></i> 24
                            </span> 
                            <span class="reads">1799阅读</span>
                        </div>
                  </div>
              </li>

            </ul>
          </div>
    </ion-content>
</ion-view>
