<ion-view view-title="收藏">
    <!-- <ion-nav-buttons side="left">
        <span class="iconfont icon-back fs26 backBtn" onclick="javascript:history.go(-1)"></span>
    </ion-nav-buttons> -->
   <ion-content>
    <div ng-if="!favFlag" class="noComMsg">
        <span>暂时没有收藏任何文章！</span>
    </div>
          <div class="favourite" ng-if="favFlag">
            <ul>
              <li ng-repeat = "item in favData" ng-click="goDetails(item.art_id)">
                  <div class="chapterPic">
                    <img ng-src="{{item.art_thumb}}" alt="">
                  </div>
                  <div class="chapterDetail">
                        <div class="author">
                            <span class="pubName">{{item.art_editor}}</span> 
                            <span class="pubDate">{{item.art_time*1000 | date:"yyyy年MM月dd日"}}</span>
                            <!-- {{item.art_time*1000 | date:"yyyy年MM月dd日"}} -->
                        </div>
                        <h2>{{item.art_title}}</h2>
                        <div class="author">
                            <span class="add">
                            <i class="icon ion-ios-heart-outline"></i> {{item.collectionCount}}<i class="icon ion-ios-chatbubble-outline"></i> {{item.commentCount}}
                            </span> 
                            <span class="reads">{{item.view}} 阅读</span>
                        </div>
                  </div>
              </li>
            </ul>
          </div>
    </ion-content>
</ion-view>
