<ion-view view-title="完成注册" class="login_bg">
    <ion-nav-buttons side="left">
        <span class="iconfont icon-back fontSize backBtn" onclick="javascript:history.go(-1)"></span>
    </ion-nav-buttons>
    <ion-content>
        <div class="login_box">
            <div class="addAvatar">添加<br>头像</div>
            <form action="" class="login_form">
                <div class="telInput">
                    <input type="text" placeholder="昵称">
                </div>
                <div class="telInput">
                    <input type="text" placeholder="性别（选填）">
                </div>
                <div class="telInput">
                    <input type="text" placeholder="生日（选填）">
                </div>
                <div class="loginBtn">
                    <button>完成</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
