<ion-view class="login_bg" view-title="填写手机号">
            <ion-nav-buttons side="right">
                <button ng-click="sendCode()" class="button">下一步</button>
            </ion-nav-buttons>
          
            <ion-content>
                <div class="login_box">
                    <div class="reg_logo"><img src="img/logo.svg" alt=""></div>
                    <h1>输入您的手机号码</h1>
                    <div class="code_input">
                        <input type="text" placeholder="输入您的手机号码" required ng-model="phone.tel">
                    </div>
                    <p>我们将向您的手机发送一个验证码用于登陆</p>
                </div>
            </ion-content>

</ion-view>
