<ion-view class="login_bg" view-title="填写手机号">
            <ion-nav-buttons side="right">
                <button ng-click="sendCode()" class="button">下一步</button>
            </ion-nav-buttons>
          
            <ion-content>
                <div class="login_box">
                    <div class="reg_logo"><img src="img/logo.svg" alt=""></div>
                    <h1>输入您的手机号码</h1>
                    <div class="code_input">
                        <input type="text" placeholder="输入您的手机号码" required ng-model="phone.tel">
                    </div>
                    <p>我们将向您的手机发送一个验证码用于登陆</p>
                </div>
            </ion-content>

</ion-view>


<!--     <ion-modal-view ng-if="">
        
    </ion-modal-view> -->

<!-- <ion-modal-view view-title="登录" class="login_bg">
    <ion-header-bar align-title="left" class="bar-positive">
        <button ng-click="closeModal()">关闭</button>
    </ion-header-bar>
    <ion-content>
        <div class="login_box">
            <form action="" class="login_form">
                <div class="reg_logo"><img src="img/reg_logo.svg" alt=""></div>
                <div class="telInput">
                    <input type="text" placeholder="手机号" required ng-model="phone.tel" type="tel">
                </div>
                <div class="codeInput">
                    <input type="text" placeholder="验证码" ng-model="phone.code">
                    <button class="sendVali" required ng-click="sendCode()">发送验证码</button>
                </div>
                <div class="loginBtn">
                    <button ng-click="phoneLogin()">登录</button>
                </div>
            </form>
            <div class="third_box">
                <div class="third_head"> —— 第三方登录 —— </div>
                <div class="login_logo">
                    <span><img src="img/wxlogo.svg" alt=""></span>
                    <span><img src="img/qqlogo.svg" alt=""></span>
                    <span><img src="img/wblogo.svg" alt=""></span>
                    <span><img src="img/dblogo.svg" alt=""></span>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive"><a href="#/register">还没有账号？注册</a></ion-footer-bar>
    <div class="noAccount"><a href="#/register">还没有账号？注册</a></div>
</ion-modal-view>
 -->
