<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content> 
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

   <ion-side-menu side="left" width="150" class="leftSideMenu" ng-controller="sideMenuCtrl">
            <ul>
                <!-- 登录逻辑是要在用户中心判断的，不是连接到login.html -->
                <li menu-close><img src="img/ben.png" alt="" ng-click="openModal();">
                    <p>登录/注册</p>
                </li>
                 <li menu-close ng-click="goMessage()">
                    <img src="img/Message.svg" alt="">
                        <p>消息</p>
                </li>
                <li menu-close  ng-click="goComment()">
                    <img src="img/Comment.svg" alt="">
                        <p>评论</p>
                </li>
                <li menu-close  ng-click="goFav()">
                    <img src="img/Favourite.svg" alt="">
                        <p>收藏</p>
                </li>
                <li menu-close  ng-click="goSetting()">
                  <img src="img/Settings.svg" alt="">
                        <p>设置</p>
                </li>
                <!-- <li menu-close>
                    <a href="#/message"><img src="img/Message.svg" alt="">
                        <p>消息</p>
                    </a>
                </li>
                <li menu-close>
                    <a href=""><img src="img/Comment.svg" alt="">
                        <p>评论</p>
                    </a>
                </li>
                <li menu-close>
                    <a href="#/favourite"><img src="img/Favourite.svg" alt="">
                        <p>收藏</p>
                    </a>
                </li>
                <li menu-close>
                    <a href="#/setting" nav-direction="back" nav-transition="android"><img src="img/Settings.svg" alt="">
                        <p>设置</p>
                    </a>
                </li> -->
            </ul>
        </ion-side-menu>
</ion-side-menus>



<!--   <ion-side-menus>
        <ion-side-menu-content>
            <ion-nav-bar class="bar-mystyle"></ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" width="150" class="leftSideMenu" ng-controller="sideMenuCtrl">
            <ul>
                
                <li menu-close><img src="img/ben.png" alt="" ng-click="openModal();">
                    <p>登录/注册</p>
                </li>
                <li menu-close>
                    <a href="#/message"><img src="img/Message.svg" alt="">
                        <p>消息</p>
                    </a>
                </li>
                <li menu-close>
                    <a href=""><img src="img/Comment.svg" alt="">
                        <p>评论</p>
                    </a>
                </li>
                <li menu-close>
                    <a href="#/favourite"><img src="img/Favourite.svg" alt="">
                        <p>收藏</p>
                    </a>
                </li>
                <li menu-close>
                    <a href="#/setting" nav-direction="back" nav-transition="android"><img src="img/Settings.svg" alt="">
                        <p>设置</p>
                    </a>
                </li>
            </ul>
        </ion-side-menu>
    </ion-side-menus> -->