  <ion-view view-title="消息">
    <ion-content>
    <div class="msgWrap">
        <ul>
            <li class="msgBox">
                <div class="time">2016年6月11日 18:12</div>
                <div class="content">
                    <div class="avatar"><img src="img/adam.jpg"></div>
                    <div class="msg">文字部分文字部分文字部分文字部分文字部分文字部分</div>
                </div>
            </li>
            <li class="msgBox">
                <div class="time">2016年6月11日 18:12</div>
                <div class="content">
                    <div class="avatar"><img src="img/adam.jpg"></div>
                    <div class="msg">文字部分文字部分文字部分文字部分文字部分文字部分</div>
                </div>
            </li>
            <li class="msgBox">
                <div class="time">2016年6月11日 18:12</div>
                <div class="content">
                    <div class="avatar"><img src="img/adam.jpg"></div>
                    <div class="msg">文字部分文字部分文字部分文字部分文字部分文字部分</div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>

</ion-view>