<ion-view view-title="文库">
    <ion-content>
        <ion-list>
            <ion-item>
                <img src="../img/ben.bng" alt="" width="70px" height="70px;">
                <div class="authorInfor">
                    <div>飞地传媒</div>
                    <div>2016年8月1日</div>
                </div>
                <h2>火柴盒地球仪</h2>
                <div class="hits">
                    <div><i class="icon ion-ios-heart-outline"></i> 78</div>
                    <div><i class="icon ion-ios-chatbubble-outline"></i> 36</div>
                    <div>792 阅读</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
