<ion-view view-title="文库">

    <!--  <ion-nav-buttons side="left">
      <span class="iconfont icon-back fontSize backBtn" onclick="javascript:history.go(-1)"></span>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
       <span class="iconfont icon-share fontSize" ng-click=""></span>
       <span class="iconfont icon-comment fontSize" ng-click=""></span>
       <span class="iconfont icon-shoucang fontSize" ng-click=""></span>
    </ion-nav-buttons> -->

    
    <!-- <ion-header-bar>
        <span class="title">1231</span>
    </ion-header-bar>
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear"><i class="iconfont icon-back"></i></ion-nav-back-button>
    </ion-nav-bar>   -->
    <ion-content>
        <ion-list>
            <ion-item>
                <img src="../img/ben.bng" alt="" width="70px" height="70px;">
                <div class="authorInfor">
                    <div>飞地传媒</div>
                    <div>2016年8月1日</div>
                </div>
                <h2>火柴盒地球仪</h2>
                <div class="hits">
                    <div><i class="icon ion-ios-heart-outline"></i> 78</div>
                    <div><i class="icon ion-ios-chatbubble-outline"></i> 36</div>
                    <div>792 阅读</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
