<ion-view view-title="" class="login_bg">
    <ion-nav-buttons side="left">
        <span class="iconfont icon-back fontSize backBtn" onclick="javascript:history.go(-1)"></span>
    </ion-nav-buttons>

    <ion-content>
        <div class="login_box">
            <div class="reg_logo"><img src="img/reg_phone.svg" alt=""></div>
            <h2>手机号注册</h2>
            <form action="" class="login_form">
                <div class="telInput">
                    <input type="text" placeholder="手机号">
                </div>
                <div class="loginBtn">
                    <button>继续</button>
                </div>
            </form>
        </div>
    </ion-content>
    <div class="noAccount"><a href="#/login">已经有账号？登录</a></div>
</ion-view>
